<!-- Additional head bits without overriding original head -->

<!-- JavaScript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bigfoot.js"></script>
<script type="text/javascript">
    $.bigfoot(
        {
            actionOriginalFN: "ignore",
            
        }
    );
</script>

<!-- Twitter cards -->
<meta name="twitter:site" content="@mjphillips">
<meta name="twitter:creator" content="@mjphillips">
<meta name="twitter:title" content="{{ page.title }}">
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="Matthew John Phillips is a writer and editor from Philadelphia, PA.">
{% endif %}
{% if page.image %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
<meta name="twitter:image:alt" content="{{ page.image-alt }}">
{% else %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/assets/img/MLA.jpg">
<meta name="twitter:image:alt" content="A photograph of the author">
{% endif %}